.App-nav {
    margin: 20px;
    padding: 10px;
    border-bottom: 2px solid #7C4DFF;
}
.App-nav ul {
    padding: 0;
    margin: 0;
}
.App-nav-item {
    color: #7C4DFF;
    list-style: none;
    display: inline-block;
    margin-right: 32px;
    font-size: 23px;
    border-bottom: 4px solid transparent;
}

.App-nav-item a{
    cursor: pointer;
}

.selected a {
    color: #303F9F;
    font-size: 25px;
    border-bottom: 1px solid #3F51B5;
}
